
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Liste des utilisateurs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TODO le style-->
    <!--<link rel="stylesheet" type="text/css" media="screen" href="main.css" />-->
</head>

<body>
    <div class="container">
        <h1>Liste des utilisateurs</h1>
        <% if(utilisateurs.length > 0){%>
            <table class="text-center">
                <thead>
                    <tr>
                        <th>nom</th>
                        <th>prenom</th>
                        <th>editer</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i < utilisateurs.length; i++){ %>
                        <tr>
                            <td>
                                <a href="/utilisateurs/show/<%= utilisateurs[i]._nom %>"></a>
                                <%= utilisateurs[i].nom%>
                            </td>
                            <td>
                                <%= utilisateurs[i].prenom %>
                            </td>

                            <td>
                                <a href="/utilisateurs/edit/<%= utilisateurs[i]._id %>">Editer</a>
                            </td>

                        </tr>
                        <% } %>
                </tbody>
            </table>
            <div>
                <a href="/utilisateurs/create">Creer un utilisateur</a>
            </div>

            <%} else{ %>
                <div>Il n'y a pas d'utilisateur enregistré</div>
                <div>
                    <a href="/utilisateurs/create">Creer un utilisateur</a>
                </div>
                <% } %> 
    </div>



</body>

</html>



