<% include ../partials/head.ejs %>


    <div class="container">
        <h3>
            <a href="/machines">Liste des machines</a>
        </h3>
        <h3>
            <a href="/utilisateurs">Liste des utilisateurs</a>
        </h3>
        <h1>Creation des droits</h1>
        <!-- TODO styler le form-->

        <form action="/droits/save" method="POST">

            <select id="selectmachine"></select>
            <select id="selectutilisateur"></select>
            
        </form>


    </div>
    <script src="/machines/getmachines"> </script>
    <script src="/utilisateurs/getutilisateurs"> </script>