<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Detail droits</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TODO -->
    <!--<link rel="stylesheet" type="text/css" media="screen" href="main.css" />-->
</head>
<body>
    <div class="container">
        <h3><a href="/machines">Liste des machines</a></h3>

        <span> </span>

        <a href="/droits/edit/<%= droit._id %>">Editer</a>
    </div>
</body>
</html>